<div class="home">
    <%= react_component 'TopBar' %>
    <div>
      <h1> Sunfish Studios </h1>
      <h2> Web Design & Development</h2>
      <a href="/services"> Our Services </a>
    </div>
    <div>
      <h3>The Right Tools For The Job</h3>
      <p>
        At Sunfish, we don't believe in the one-size-fits-all solution.
        We take advantage of our team's diverse professional background by
        tailoring technology choices to our client's needs on a case-by-case basis.
       </p>
    </div>
    <div>
      <h3> Technologistas </h3>
      <p>
        We passionately follow emerging tech trends in order to remain on
        the cutting edge of development practices, while still ensuring
        our work's maintainability and lifespan.
      </p>
    </div>
</div>
