<div class="services">
    <h1> Services </h1>
    <div>
      <h2> Design & Development </h2>
      <p>
         As a client, you may currently have a problem with no solution,
         you may already know exactly what you want, or perhaps something in between.
         All of this is fine.  We're ready to join you at whatever step you're at.
      </p>
      <h5> Capabilities </h5>
      <ul>
        <li> Static Websites </li>
        <li> CMS </li>
        <li> Custom Web Applications </li>
      </ul>
    </div>
    <div>
      <h2> Support </h2>
      <p>
        Perhaps you've already got a website, but want a team on hand
        for changes, features, or fixes.  We can have you covered.
      </p>
      <h5> Capabilities </h5>
      <ul>
        <li> Site Enhancements </li>
        <li> Managed Hosting </li>
      </ul>
    </div>
    <div>
      <h3>Our Favorite Technologies</h3>
      <p> /logowall </p>
    </div>
</div>
