<div class="team">
    <h1> Team</h1>
    <div class="row">
      <%= react_component('TeamMember',
        {
          member_name: "Tyler Smith",
          member_photo: image_url('tyler.png'),
          member_text: "asas"
        }) %>
    </div>
</div>
